<html>
<head>
    <title>
        Blog do Tutorial da Django Girls
    </title>
</head>

<body>
<div>
    <h1><a href="/">Tutorial de Blog da Django Girls</a> </h1>
</div>
<div>
    <h2><a href="/">Meu Primeiro Post</a> </h2>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
        cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
        amet risus.</p>
    <p>Publicado em 30 de outubro de 2018 às 16:31 - Autor: yzakius</p>
</div>
<div>
    <h2><a href="/">Meu Segundo Post</a> </h2>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
        cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
        amet risus.</p>
    <p>Publicado em 30 de outubro de 2018 às 16:33 - Autor: yzakius</p>
</div>
</body>
</html>